:root {
  --primary-color: #ff6600;
  --secondary-color: #f60;
  --text-color: #333;
  --text-light: #666;
  --background-color: #f2f3f7;
  --white: #ffffff;
  --border-color: #e6e6e6;
  --font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --container-width: 1200px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 20px;
}
